---
title: Documentation
description: Documentation home
layout: layouts/page.njk
---

<section class="doclist mt-3 pt-3">
  <div class="container">
    <div class="columns is-multiline">
      {% for docs in collections.docs | sort(false, false, 'data.order') %}
        {% if loop.index0 < 9 %}
          <div class="column is-one-third">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <a href="{{ docs.url }}" class="button is-fullwidth is-link card-footer-item">{{ docs.data.title }}</a>
                </p>
              </header>
              <div class="card-content">
                <div class="content">
                  {{ docs.data.description }}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
