<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/assets/rum-archive-logo-square.svg" width="28" height="28" />
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-main">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar-main" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-text-weight-bold">
        <a href="/">{{ site.title }}</a>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/docs/">
          Documentation
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="/docs/methodology">
            Methodology
          </a>
          <a class="navbar-item" href="/docs/querying">
            Querying
          </a>
          <a class="navbar-item" href="/docs/tables">
            Tables
          </a>
          <a class="navbar-item" href="/docs/samples">
            Samples
          </a>
          <a class="navbar-item" href="/docs/tips">
            Tips
          </a>
          <a class="navbar-item" href="/docs/release-notes">
            Release  Notes
          </a>
        </div>
      </div>

      <a href="/datasets" class="navbar-item">
        Datasets
      </a>

      <a href="/blog" class="navbar-item">
        Blog
      </a>

      <a href="/contribute" class="navbar-item">
        Contribute!
      </a>

      <a href="https://github.com/rum-archive/rum-archive" class="navbar-item">
        Github
      </a>

      <a href="/about" class="navbar-item">
        About
      </a>
    </div>
  </div>
</nav>
