<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css" />
  <script src="/js/main.js"></script>
  <title>RUM Archive - {{ title }}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#006a80">
  <meta name="msapplication-TileColor" content="#006a80">
  <meta name="theme-color" content="#006a80">
</head>
<body>
  <header>{% include "nav.njk" %}</header>
  <main>
    {{ content | safe }}
  </main>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        Sponsored by <a href="https://akamai.com">Akamai</a>.
        The website content is licensed
        <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>.
      </p>
    </div>
  </footer>
</body>
</html>
