//
// Other imports
//
@use 'prism-okaidia.css';

@charset "utf-8";

//
// Bulma Customization
//
@import "../../node_modules/bulma/sass/utilities/initial-variables";

// variables
$blue: #017ac6;
$green: #006a80;

// derived
$primary: $green;
$link: $green;

// only import the Bulma files we need
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/layout/_all.sass";

@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/box.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/content.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/elements/table.sass";

@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/components/card.sass";
@import "../../node_modules/bulma/sass/components/media.sass";

@import "../../node_modules/bulma/sass/grid/columns.sass";

@import "../../node_modules/bulma/sass/helpers/color.sass";
@import "../../node_modules/bulma/sass/helpers/spacing.sass";
@import "../../node_modules/bulma/sass/helpers/typography.sass";

// Full import:
// @import "../../node_modules/bulma/bulma";
